/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
/* here are some coloring added  */
body {
  @apply bg-[#00091D];
  font-family: "JetBrains Mono", monospace;

}

/* Force the underline to show when active */
.active-link + div {
  width: 100% !important;
}

/* Optional: Style the active link text */
.active-link {
  color: #06b6d4 !important; /* Cyan text */
}

